<!DOCTYPE html>
{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}封禁用户{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/web/banuser" method="post">
    <div class="title">封禁用户</div>
    <label for="name">玩家用户名</label>
    <input type="text" name="name" id="name">
    <label for="user_code">玩家好友码</label>
    <input type="text" name="user_code" id="user_code">
    <p>二选一即可</p>
    <br />
    <div class="content">提示：重设用户密码即可解封账号</div>
    <br />
    <input type="submit" value="执行">
</form>
<br />
<hr />
<form action="/web/banuser/deleteuserscore" method="post">
    <div class="title">删除用户所有分数</div>
    <label for="name">玩家用户名</label>
    <input type="text" name="name">
    <label for="user_code">玩家好友码</label>
    <input type="text" name="user_code">
    <p>二选一即可</p>
    <br />
    <div class="content">警告！这个操作具有破坏性，且不可恢复。</div>
    <br />
    <input type="submit" value="执行">
</form>
{% endblock %}