<!DOCTYPE html>
{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}单个玩家潜力值详细查询{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post">
    <label for="name">玩家用户名</label>
    <input type="text" name="name" id="name">
    <label for="user_code">玩家好友码</label>
    <input type="text" name="user_code" id="user_code">
    <p>二选一即可</p>
    <input type="submit" value="查找">
    <br>
    <br>
    <br>
    {% if user %}
    <hr>
    <div id="user-info">
        <div class="title">玩家信息</div>
        <div class="name">{{user['name']}}
            <span class="rank">UID: {{user['user_id']}}</span>
            <span class="rank">好友码: {{user['user_code']}}</span>
            {% if user['ban_flag'] %}
            <span class="rank">已封禁</span>
            {% endif %}
        </div>
        <div class="join-date">注册于: {{user['join_date']}}</div>
        <div class="ptt">Ticket: {{user['ticket']}}</div>
        <div class="ptt">PTT: {{'%0.2f'|format(user['rating_ptt']/100|float)}}</div>
        <div class="ptt">B30: {{bestptt}}</div>
        <div class="ptt">R10: {{recentptt}}</div>
        <div>
            <div>最近游玩: </div>
            <div>
                <div class="score-item">
                    <span class="song-title">
                        {{user['song_id']}}
                    </span>
                    {% if user['difficulty'] == 0 %}
                    <span class="difficulty_pst">PST</span>
                    {% elif user['difficulty'] == 1 %}
                    <span class="difficulty_prs">PRS</span>
                    {% elif user['difficulty'] == 2 %}
                    <span class="difficulty_ftr">FTR</span>
                    {% else %}
                    <span class="difficulty_byd">BYD</span>
                    {% endif %}
                    <div class="song-detail">
                        <br />
                        <table>
                            <tbody>
                                <tr>
                                    <td>PURE: </td>
                                    <td>{{user['perfect_count']}}</td>
                                    <td> {{'(' ~ user['shiny_perfect_count'] ~ ')'}}</td>
                                </tr>
                                <tr>
                                    <td>FAR: </td>
                                    <td>{{user['near_count']}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>LOST: </td>
                                    <td>{{user['miss_count']}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="song-score">{{user['score']}}</div>
                    <div class="song-clear-type">
                        {% if user['clear_type'] == 3 %}Pure Memory
                        {% elif user['clear_type'] == 2 %}Full Recall
                        {% elif user['clear_type'] == 5 %}Hard Clear
                        {% elif user['clear_type'] == 1 %}Normal Clear
                        {% elif user['clear_type'] == 4 %}Easy Clear
                        {% else%}Track Lost
                        {% endif %}
                    </div>
                    <div class="song-rating">成绩评价: {{user['rating']}}</div>
                    <div class="song-clear-date">日期:
                        {{user['time_played']}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    {% if posts %}
    <div class="title">Best 30</div>
    {% endif %}
    {% for post in posts %}
    <div class="score-item">
        <span class="song-title">
            {{post['song_id']}}
        </span>
        {% if post['difficulty'] == 0 %}
        <span class="difficulty_pst">PST</span>
        {% elif post['difficulty'] == 1 %}
        <span class="difficulty_prs">PRS</span>
        {% elif post['difficulty'] == 2 %}
        <span class="difficulty_ftr">FTR</span>
        {% else %}
        <span class="difficulty_byd">BYD</span>
        {% endif %}
        <span class="rank">{{'#' ~ post['rank']}}</span>
        <div class="song-detail">
            <br />
            <table>
                <tbody>
                    <tr>
                        <td>PURE: </td>
                        <td>{{post['perfect_count']}}</td>
                        <td> {{'(' ~ post['shiny_perfect_count'] ~ ')'}}</td>
                    </tr>
                    <tr>
                        <td>FAR: </td>
                        <td>{{post['near_count']}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>LOST: </td>
                        <td>{{post['miss_count']}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="song-score">{{post['score']}}</div>
        <div class="song-clear-type">
            {% if post['clear_type'] == 3 %}Pure Memory
            {% elif post['clear_type'] == 2 %}Full Recall
            {% elif post['clear_type'] == 5 %}Hard Clear
            {% elif post['clear_type'] == 1 %}Normal Clear
            {% elif post['clear_type'] == 4 %}Easy Clear
            {% else%}Track Lost
            {% endif %}
            <span class="song-clear-type" style="margin-left: 1.875em;">
                {% if post['best_clear_type'] == 3 %}(Pure Memory)
                {% elif post['best_clear_type'] == 2 %}(Full Recall)
                {% elif post['best_clear_type'] == 5 %}(Hard Clear)
                {% elif post['best_clear_type'] == 1 %}(Normal Clear)
                {% elif post['best_clear_type'] == 4 %}(Easy Clear)
                {% else%}(Track Lost)
                {% endif %}
            </span>
        </div>
        <div class="song-rating">成绩评价: {{post['rating']}}</div>
        <div class="song-clear-date">日期:
            {{post['time_played']}}
        </div>
    </div>
    {% if not loop.last %}
    <br />
    {% endif %}
    {% endfor %}
    <hr />
    {% if recent %}
    <div class="title">Recent 30</div>
    {% for i in recent %}
    {% if i %}
    <div class="score-item">
        <span class="song-title">
            {{i['song_id']}}
        </span>
        {% if i['difficulty'] == 0 %}
        <span class="difficulty_pst">PST</span>
        {% elif i['difficulty'] == 1 %}
        <span class="difficulty_prs">PRS</span>
        {% elif i['difficulty'] == 2 %}
        <span class="difficulty_ftr">FTR</span>
        {% else %}
        <span class="difficulty_byd">BYD</span>
        {% endif %}
        <span class="rank">{{loop.index}}</span>
        <div class="song-rating">成绩评价: {{i['rating']}}</div>
    </div>
    {% if not loop.last %}
    <br />
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
</form>
{% endblock %}