<!DOCTYPE html>
{% extends 'userbase.html' %}
{% block header %}
<h1>{% block title %}入服手册{% endblock %}</h1>
{% endblock %}
{% block description %}
索引：用户守则→审核标准→注意事项→包体安装→群机器人→其他相关
{% endblock %}
{% block content %}
<div class="rule-container">
  <div class="rule-section">
    <h2 class="rule-title">用户守则</h2>
    <h3 class="rule-subtitle">一、包体与服务器</h3>
    <ul class="rule-list">
      <li>严禁以任何形式对外分享Arkana安装包</li>
      <li>严禁以任何形式攻击Arkana服务器、擅自窃取服务端数据</li>
      <li>严禁在非Arcaea相关的私服群和国内流媒体发送处于在线状态的Arkana游玩截图和手元</li>
      <li class="rule-note">※如要发送，请不要展示顶栏信息（用户名、潜力值、虚拟代币数量、排行榜信息等）</li>
      <li>严禁在外网社区（如X、Discord、YouTube等）发布任何有关Arkana相关内容</li>
    </ul>
    <p class="rule-text">
      如违反以上任意一条，一经发现，Arkana项目组有权封禁您的游戏账号并将您永久移出群聊。<br>
      如发现有违反规定的群成员，请保存证据并向管理员举报，核实后视情况给予检举者奖励。
    </p>
    <p class="rule-text">
      随意修改包体造成的不良后果由用户自行承担
    </p>
    <h3 class="rule-subtitle">二、群内发言与群功能使用</h3>
    <ul class="rule-list">
      <li>不得发送色情、暴力、血腥、猎奇等可能引起他人不适的内容</li>
      <li>不得发送政治敏感性、社会争议性、反统一、反社会思想相关内容</li>
      <li>不得在群内发送人身攻击发言，如有冲突请私下解决</li>
      <li>不得在群内发送无关广告，如需宣传，请先得到管理员同意</li>
      <li>不得在群内玩过度抽象（如过度卖弱、哭惨、炫耀、故意恶心人）</li>
      <li>不得在群文件内上传无关文件（图片和视频原图除外）</li>
    </ul>
    <p class="rule-text">
      如违反以上任意一条，项目组有权给予警告、禁言、封号、永久移出群聊等不同程度的处罚。<br>
      如发现有违反规定的群成员，请保存证据并向管理员举报，核实后视情况给予检举者奖励。
    </p>
  </div>
  <div class="rule-section">
    <h2 class="rule-title">审核标准</h2>
    <h3 class="rule-subtitle">玩家通道</h3>
    <p class="rule-text"><strong>常规审核</strong> 需要加入审核群找审核员审核，审核群群号为1045883142</p>
    <p class="rule-text"><strong>标准：</strong>官服ptt≥12.50</p>
    <p class="rule-text"><strong>需要提交给审核员的内容：</strong></p>
    <ul class="rule-list deep">
      <li>出事该QQ号码的举报列表</li>
      <li>出示档案和b30截图</li>
      <li>出示b站个人主页截图</li>
      <li>证明实力的手元或与审核员link play</li>
    </ul>
    <p class="rule-text"><strong>担保审核</strong> 担保人向项目组申请担保他人，审核通过后可直接拉入主群</p>
    <p class="rule-text"><strong>被担保人标准：</strong>官服ptt≥12.30</p>
    <p class="rule-text"><strong>担保人标准：</strong>官服ptt≥12.70</p>
    <p class="rule-text"><strong>需要提交给审核员的内容：</strong></p>
    <ul class="rule-list deep">
        <li>出事该QQ号码的举报列表</li>
        <li>出示档案和b30截图</li>
        <li>出示b站个人主页截图</li>
        <li>由担保人提交对被担保人的介绍（必须包括: 你在哪认识的被担保人、被担保人是否知道私服和自制圈、你对被担保人的评价）</li>
        <li>被担保人录制游玩官服任意一首歌的手元视频（或带触点录屏）并且单曲ptt达到12.30及以上</li>
    </ul>
    <h3 class="rule-subtitle">谱师通道</h3>
    <p class="rule-text">
      谱师进入审核群后，需找审核员发送如下材料：<br>
      - 至少1张完全由自己独立完成的谱面（预览视频也可）<br>
      - Bilibili个人主页截图
    </p>
    <h3 class="rule-subtitle">开发者通道</h3>
    <p class="rule-text">
      如果您对满足如下条件其中之一，请直接联系管理员：<br>
      - 对Arcaea的程序、服务器有研究<br>
      - 能够向Arkana提供原创音乐<br>
      - 有插画、立绘、平面设计、PV制作中任一方面的特长
    </p>
  </div>
  <div class="rule-section">
    <h2 class="rule-title">注意事项</h2>
    <ul class="rule-list">
      <li>非必要请勿随意退群，退群将自动封禁游戏存档</li>
      <li>采用担保审核方式时，担保人对被担保人持连带责任（被担保人出现重大违规时，担保人会受到同等甚至更严重的处罚）</li>
      <li>请不要直接将谱面发在主群，如要投谱，请前往谱师群</li>
      <li>如您有意成为谱师，也可通过申请加入谱师群</li>
      <li>游戏内不能直接注册</li>
      <li>虚实构想（即记忆源点）可通过群内发指令签到、爬梯、更新维护等方式获得</li>
      <sapn class="rule-note">※语言包推荐顺序：简体中文>>>繁体中文>>>英文>日文=韩文(建议不要使用最后三种语言包！)</sapn>
    </ul>
  </div>
  <div class="rule-section">
    <h2 class="rule-title">包体安装</h2>
    <h3 class="rule-subtitle">安卓设备</h3>
    <ol class="rule-list">
      <li>下载群文件→Arkana中后缀为.APK的文件</li>
      <li>在您设备上的文件管理器或mt管理器中找到该文件并安装</li>
    </ol>
    <h3 class="rule-subtitle">苹果设备</h3>
    <ol class="rule-list">
      <li>下载群文件→Arkana中后缀为.ipa的文件</li>
      <li>自签安装或电脑辅助签名安装</li>
      <sapn class="rule-note">※签名安装方式请自行在网络上搜索学习，且本服不提供证书文件</sapn>
    </ol>
  </div>
  <div class="rule-section">
    <h2 class="rule-title">群机器人</h2>
    <p style="white-space: pre-wrap; ">
      <!--该内容块将用于爬虫爬取-->
      ⭐<code>/aichan</code>在所有游玩过的歌曲中随机选一首歌并推荐给你！
      ⭐<code>/aa add [歌曲ID/别名]</code>添加歌曲别名~
      ⭐<code>/aa del [歌曲ID/别名]</code>删除歌曲别名~
      ⭐<code>/aa info [歌曲ID/别名]</code>查看歌曲别名及ID~
      ⭐<code>/b30</code>获取最新的b30成绩图，请勿频繁查询！
      ⭐<code>/chart [歌曲ID/别名] [难度(0-4)]</code>获取谱面2d图，若生成过则直接发送，当谱面改动时请联系管理删除图片，请勿频繁查询！
      ⭐<code>/tmpkey</code>生成临时密钥，请在五分钟内使用！
      ⭐<code>/validator refresh</code><span class="rule-note">(仅管理可用，不可私发)</span>刷新封号名单并校验游戏数据库！
      ⭐<code>/help</code>查询机器人使用帮助！
      ⭐<code>/userdb refresh</code><span class="rule-note">(仅管理可用，不可私发)</span>刷新用户数据库，防止非本群玩家注册账号！
      ⭐<code>/img [数量(默认1)]</code>随机获取图片，如需要添加随机图片的请@Swiro！
      ⭐<code>/rating [定数]</code>查询定数表，小数点只有一位哦~
      ⭐<code>/recent</code>获取最近的游戏成绩图，请勿频繁查询！
      ⭐<code>/say [目标群群号] [发送文本]</code><span class="rule-note">(仅管理可用)</span>以机器人的身份在指定群发送文本！
      ⭐<code>/snatch</code>触发虚实构想互动，规则如下：
          Nymph有游戏账号且好友码为000000000存有她虚实构想余额！
          约  2% 概率随机翻 2 ~ 5 倍虚实构想，
          约  6% 概率获得 Nymph 的 (25% ~ 50%) x (50% ~ 100%) 的虚实构想，
          约 20% 概率获得 0 ~ 100 枚虚实构想，
          约 32% 概率被夺取 50 ~ MAX(50, 自身25%) 枚虚实构想，
          约 40% 概率被夺取 0 ~ 100 枚虚实构想。
          <span class="rule-note">※拥有的虚实构想数量必须超过100才会触发！</span>
      ⭐<code>/transfer [@收款方/QQ号] [数量]</code>转账功能，仅支持虚实构想，一经赠与不可撤回！
      ⭐<code>/vote for [歌曲ID/别名] [数量(默认1)]</code>为歌曲投票，一张票奖励10枚虚实构想~
      ⭐<code>/vote info [歌曲ID/别名]</code>查询歌曲的投票数量
      ⭐<code>/vote rank [数量(默认10)]</code>获取歌曲投票排名
      ⭐<code>/rank [类型(默认#值排名)]</code>玩家世界排名(POTENTIAL榜：['1', "ptt"]、#VALUE榜：['2', "#"])
      ⭐<code>@Nymph 签到</code>每日签到，随机获取100~200枚虚实构想~
      ⭐<code>@Nymph [问题]</code>已接入AI智能体，每日回答次数有限~
      ⭐<code>{戳一戳@Nymph}</code>随机文本。
      ==================================================
      除非特别说明，默认所有指令均支持私发，私发如果没有接收到信息可以尝试添加机器人为好友。
      所有指令直接通过使用者的QQ号码查询数据库，无需绑定游戏账号！
      如您有Arkana相关Bot功能上的其他需求，请联系管理员。
      由于临时密钥的生成算法结合了当前时间整除五，建议不要在临近五的倍数的分钟生成！
      因为引入了非群内玩家自动封号的机制，所以上述算法短期内不会进行更新了！
      <br>
      <span class="rule-note">※B30和Recent生成的#值由个人ptt降序排名，与游戏中的实际值并不相同！</span>
      <span class="rule-note">※禁止在AI聊天功能中进行色情、暴力等可能对聊天功能造成损害的引导</span>
      <!--该内容块将用于爬虫爬取-->
    </p>
  </div>
  <div class="rule-section">
    <h2 class="rule-title">其他相关</h2>
    <p class="rule-text">
      如有Bug反馈或者游戏优化建议，请私信联系Arkana项目组成员。如您的建议被采纳，我们会给予一定的奖励。
    </p>
  </div>
</div>
{% endblock %}