<!DOCTYPE html>
{% extends 'userbase.html' %}
{% block header %}
<h1>{% block title %}隐私政策{% endblock %}</h1>
{% endblock %}
{% block description %}
隐私政策？
{% endblock %}
{% block content %}
<p style="white-space: pre-wrap; ">
    <strong>
亲爱的Arkana讲述者：
    见字如安！​
    Arkana 秘境服务由 Arkana 匠心打造，含应用程序、网站及相关网络服务，皆为免费提供的「秘境服务」。当你选择踏入这片秘境，便意味着认同以下隐私之约 —— 我们将坦诚告知信息收集、使用与披露的准则，让每一步探索都清晰透明。​
    你在秘境中留下的个人印记，仅用于优化服务体验。我们承诺，非经此约所述，绝不擅自分享或滥用。​
    印记的收集与使用​
    为让秘境之旅更顺畅，我们可能请你留下可识别的个人印记（如次元请柬）。这些印记会被妥善留存，唯依此约所示用途而行。​
    秘境运行中可能借助第三方协助者的力量，他们或许会收集用于识别的信息。相关协助者的隐私准则可参阅其专属页面。​
    行踪记录​
    若秘境中偶现异常，我们会通过上述第三方协助者，收集你设备上的「行踪记录」—— 包括灵犀接入点（IP 地址）、设备型号、系统版本、当前配置、探索时刻及其他统计信息，以便排查问题。​
    轨迹印记​
    轨迹印记是承载少量信息的细微标识，常用于在保护匿名性的同时识别访客。当你造访秘境站点，它们会由站点送至你的浏览工具，暂存于设备之中。​
    Arkana 借助轨迹印记助你登录秘境，部分第三方代码与工具也可能使用此类印记来完善服务。你有权选择接受或拒绝，只是若拒绝，或许无法畅行秘境的每一处角落。​
    秘境协助者​
    我们或会邀请第三方协助者参与以下工作：​
    助力秘境服务顺畅运行；​
    代为提供部分秘境服务；​
    执行与服务相关的事务；​
    协助分析秘境的使用情况。​
    这些协助者将接触到使用者的个人印记，但其仅能依我们所托行事，并有义务绝不外泄或挪作他用。​
    秘境安全​
    你的个人印记以现代技术妥善守护，仅相关开发者在必要时可访问。我们亦配备了防灾与恢复机制，竭力保障印记安全。​
    但需知晓，互联网数据传输与电子存储并无绝对安全之说。当你选择将印记交予我们，便意味着愿承担相应风险。若察觉个人印记遭泄露，请即刻通过文末邮箱联系我们。​
    印记的留存与抹去​
    个人印记会随秘境服务的存续而留存，以便你随时重返秘境、找回账户。​
    你可请求抹去系统中的个人印记，我们会通过注册邮箱进行身份核验。此操作一旦完成便无法逆转，你也将无法再使用秘境服务。​
    未成年访客​
    Arkana 秘境暂不向 13 岁以下的未成年访客开放。若不慎收集到该群体的个人印记，我们会立即从服务器中彻底删除。若你身为监护人，发现孩子不慎留下印记，请通过文末邮箱告知，我们会即刻采取必要措施。​
    约定的变更​
    隐私之约可能随时间微调，建议你定期查阅。任何变更都会在此页面公示，公示之时便即刻生效。​
    若你对这份隐私之约有疑问或建议，欢迎联系我们。​
    愿你的秘境之旅始终安心自在。
    Arkana 秘境执事
敬上
    </strong>
</p>
{% endblock %}