<!DOCTYPE html>
{% extends 'userbase.html' %}
{% block header %}
<h1>{% block title %}服务条款{% endblock %}</h1>
{% endblock %}
{% block description %}
服务条款？
{% endblock %}
{% block content %}
<p style="white-space: pre-wrap; ">
    <strong>
亲爱的Arkana讲述者：
    见字如安！​
    当你创建秘境账户、踏入 Arkana 的服务领域，或造访官方站点时，便已与 Arkana 达成以下约定。若你不愿受此约约束，还请暂别这片秘境。​
    你可随时查阅本约定，我们保留修改、增补或删减条款的权利 —— 修订后的约定将公示于指定页面，你的持续探索行为即视为认同更新后的内容。​
    一、秘境术语​
    为使约定更清晰，特以简语指代相关概念：​
    「秘境账户」：你在游戏中拥有的专属身份​
    「虚实构想」：Arkana 内的虚拟货币
    「秘境服务」：含全平台 Arkana 应用、在线服务及官方网站​
    「本约定」：即本服务条款的全部内容​
    「我们」：Arkana​
    「你」：每一位讲述者
    二、账户的诞生​
    若需兑换虚实构想、添加同伴、上传高分至排行榜，需注册秘境账户。​
    账户注册与使用需联网进行。​
    每位探索者仅可拥有一个秘境账户。​
    注册或使用服务即表明你年满 13 岁，且已通晓并认同本约定。​
    三、探索许可与禁忌​
    只要遵守本约定，我们便授予你非独占、不可转让的许可 —— 以非商业娱乐为目的使用秘境服务，不得挪作他用。​
    你承诺绝不触犯以下禁忌：​
    擅自篡改秘境程序；​
    将账户转借他人（如同伴、共事者）；​
    同时持有多个账户；​
    逆向解析、拆解秘境应用；​
    通过「数据挖掘」探查服务内部资源与代码；​
    以「收集」或「抓取」方式获取服务或用户信息；​
    向第三方分发、转让、出租秘境应用；​
    以任何方式让多人共享应用功能；​
    利用服务进行欺诈、滥用，包括冒充他人或实体；​
    虚假宣称与我们或服务存在关联；​
    干扰服务、服务器或关联网络的正常运行；​
    违反服务所连网络的规定；​
    规避限制访问服务的技术措施。​
    除本约定明确授予的权利外，Arkana 应用的所有权利归 Arkana 所有。​
    四、衍生创作约定​
    关于使用 Arkana 元素进行衍生创作的准则，详见指定页面。认同本约定即表示接受该准则。​
    五、秘境兑换与计费​
    服务中的「虚实构想」是虚拟货币，可用法定货币购买，用于兑换游戏内额外内容。​
    你需知晓，虚实构想仅存在于秘境服务中，不可向我们或他人兑换现实货币、商品或服务。​
    我们保留调控、变更或移除虚实构想的权利，且无需为此承担责任。​
    虚实构想的购买一经完成概不退款，除非法律另有规定。购买时，你需确保支付方式可正常使用且余额充足。​
    未经 Arkana 许可，不得通过等外部渠道退款已获取的游戏内容，否则可能导致内容被移除或账户被关闭。​
    若购买的虚实构想未到账，请通过指定邮箱告知我们。​
    若账户被关闭，你持有的虚实构想将失效，我们不予补偿或退款。​
    六、账户的终结​
    若发现你的账户违反第三条中的禁忌，我们有权终止账户。​
    若你的行为触犯法律（包括但不限于版权法），账户可能被终止。​
    若对 Arkana、其服务或工作人员进行威胁或骚扰，账户将被终止。​
    对于其他破坏公平竞技精神的行为（即使未列入本约定），我们亦有权终止账户。​
    七、隐私之诺​
    关于个人信息的处理准则，详见《隐私之约》。​
    八、责任之界​
    对于你在游戏或使用服务过程中可能遭遇的任何损失（无论有形、数字或金钱），我们不承担责任。​
    如第四条所述，虚实构想不可退款，无论何种原因丢失均不予补偿。​
    九、秘境的更新​
    Arkana 始终在成长中 —— 我们会不时更新游戏机制、视觉设计、伙伴与曲目等内容。同时，我们保留随时修改本约定的权利，还请你定期查阅更新。​
    十、约定之法​
    本约定Arkana管辖，所有争议将在Arkana解决。​
    十一、联络之径​
    若需报告程序漏洞或支付问题，请说明具体情况、你的游戏昵称与 ID，如有可能附上截图。
    愿你在 Arkana 的每一步探索，都能遵循约定，收获纯粹的喜悦。
    Arkana 秘境执事
敬上
    </strong>
</p>
{% endblock %}